<form action = '/user/approveApplication' method = "POST">
    <input type = "text" placeholder = "job id" name = "jobid">
    <input type = "text" placeholder = "approved employee id" name = "employeeid">
<button type = "submit">Approve</button>
</form>