<H1>Welcome to Sheltero! </H1>
<body>
<a href = "user/login">Login</a>
<a href = "user/signup">Signup</a>


<form action = 'job-search/byKeyword/' method = "GET">
    <input type = "text" placeholder = "search keyword" name = "keyword">
<button type = "submit">Search</button>
</form>
</body>