<H1>Welcome to Sheltero! </H1>
<%- name %>

<br/>
<br/>
<form action = 'job-search/byKeyword/' method = "GET">
    <input type = "text" placeholder = "search keyword" name = "keyword">
<button type = "submit">Search</button>
</form>