<H1>Sheltero</H1>
<a href = "/">Back to home page</a>

<H2>Job posting page</H2>
<br/>
<form action = "job-posting" method = "post" enctype="multipart/form-data">
    <div>
        <label for = "jobTitle">Job Title</label>
        <input type = "text" id = "jobTitle" name = "jobTitle" required>
        <br/>
        <label for = "salary">Salary</label>
        <input type = "text" id = "salary" name = "salary" required>
        <br/>
        <label for = "creditLevel">Credit Level</label>
        <input type = "text" id = "creditLevel" name = "creditLevel" required>
        <br/>
        <label for = "jobDetail">Job Detail</label>
        <input type = "text" id = "jobDetail" name = "jobDetail" required>
        <br/>
        <label for = "companyID">Company ID</label>
        <input type = "number" id = "companyID" name = "companyID" required>
        <br/>
        <label for = "jobTag">Job Tag</label>
        <input type = "text" id = "jobTag" name = "jobTag" required>
        <br/>
        <label for = "contactEmail">Contact Email</label>
        <input type = "email" id = "contactEmail" name = "contactEmail" required>
        <br/>
        <label for = "jobArea">Job Area</label>
        <input type = "text" id = "jobArea" name = "jobArea" required>
        <br/>
        <label for = "jobImg"> Job Image</label>
        <input type = "file" id = "jobImg" name = "jobImg">
        <br/>
    </div>
    <button type = "submit">Post</button>
</form>
