<H1>Sheltero</H1>
<H2>Signup page</H2>
<br/>
<form action = "/signup" method = "POST">
    <div>
        <label for = "first name">First name</label>
        <input type = "text" id = "first_name" name = "first_name" required>
        <br/>
        <label for = "last name">Last name</label>
        <input type = "text" id = "last_name" name = "last_name" required>
        <br/>
        <label for = "email">Email address</label>
        <input type = "email" id = "email" name = "email" required>
        <br/>
        <label for = "role">Sign up as an</label>
        <label><input type="radio" value="Employee" name="role" />Employee</label>
        <label><input type="radio" value="Employer" name="role" />Employer</label>
        <br/>
        <label for = "password">Password</label>
        <input type = "password" id = "password" name = "password" required>
        <br/>
    </div>
    <button type = "submit">Sign Up</button>
</form>

<a href = "./login">Login</a>