<H1>Sheltero</H1>
<a href = "/">Back to home page</a>

<H2>Update page</H2>
<br/>
<%- useremail %>
<form action = "updateUser" method = "POST" enctype="multipart/form-data">
    <div>
        <label for = "contact">Contact detail</label>
        <input type = "contact" id = "contact" name = "contact">
        <br/>
        <label for = "company_name">Company name</label>
        <input type = "company_name" id = "company_name" name = "company_name">
        <br/>
        <label for = "company_addr">Company address</label>
        <input type = "company_addr" id = "company_addr" name = "company_addr">
        <br/>
        <br/>
        <label for = "description">Description</label>
        <input type = "description" id = "description" name = "description">
        <br/>
        <br/>
        <label for = "userImg"> User Image</label>
        <input type = "file" id = "userImg" name = "userImg">
        <br/>
    </div>
    <button type = "submit">Update</button>
</form>

<a href = "./login">Login</a>
