<H1>Sheltero</H1>
<a href = "/">Back to home page</a>

<H2>Signup page</H2>
<br/>
<form action = "updateUser" method = "POST">
    <div>
        <label for = "contact">Contact detail</label>
        <input type = "contact" id = "contact" name = "contact">
        <br/>
        <label for = "company_name">Company name</label>
        <input type = "company_name" id = "company_name" name = "company_name">
        <br/>
        <label for = "company_addr">Company address</label>
        <input type = "company_addr" id = "company_addr" name = "company_addr">
        <br/>
    </div>
    <button type = "submit">Update</button>
</form>

<a href = "./login">Login</a>
